<footer class="footer-container">
    <div class="block">
        <div class="container">
            <div class="footer-container--inner">
                <div class="footer-container__powered-by powered-by">
                    <div class="powered-by__images">
                        <figure class="powered-by__digital-logo"></figure>
                        <figure class="powered-by__logo"></figure>
                    </div>
                    <div class="powered-by__address">
                        <span class="powered-by__address powered-by__address--normal">Powered by</span>
                        <span class="powered-by__address powered-by__address--bold">Independent Pharmacy Cooperative</span>
                        <br>
                        <span class="powered-by__address powered-by__address--normal">1550 Columbus StreetSun Prairie, Wisconsin 53590</span>
                    </div>
                </div>
                <div class="footer-container__downloads downloads">
                    <figure class="downloads__icare-logo downloads__icare-logo--desktop"></figure>
                    <div class="downloads__apps-container apps">
                        <div class="apps__text apps__text--desktop">Download the iCARE+ App</div>

                        <div class="apps__text apps__text--mobile">Download the iCARE+ App</div>
                        <div class="downloads--mobile">
                            <figure class="downloads__icare-logo downloads__icare-logo--mobile"></figure>

                            <div class="apps__container">
                                <div class="apps__links">
                                    <figure class="apps__links__apple-logo round-logo"></figure>
                                    <div>
                                        <span class="apps__links--light">Download on the</span>
                                        <br/>
                                        <span class="apps__links--bold">App Store</span>
                                    </div>
                                </div>

                                <div class="apps__links">
                                    <figure class="apps__links__android-logo round-logo"></figure>
                                    <div>
                                        <span class="apps__links--light">Download on the</span>
                                        <br/>
                                        <span class="apps__links--bold">Google Play</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-container__terms terms">
        <div class="terms__text-block">
            <div class="terms__text-block--first">
                <a href="#" class="terms_text">Privacy Policy</a>
                <p class="terms__text-block__pipe terms_text"></p>
                <a href="#" class="terms_text">Terms and Conditions</a>
            </div>
            <p class="terms__text-block--second terms_text">© Copyright 2023. All Rights Reserved.</p>
        </div>
    </div>
</footer>