<header>
    <div class="page__header">
        <img class="page-header__logo" src="../img/icons/digital_health_logo_header.svg" alt="digital health logo">
        <nav class="page-header__nav main-nav">
            <a href="#" class="main-nav__sections">Digital Health Portal</a>
            <a href="#" class="main-nav__sections">Home Test Kit</a>
        </nav>
        <div class="button-container button-container--header">
            <a class="button-container__button" href="#">Log In</a>
        </div>

        <div class="button-mobile-container mobile-button">
            <a href="#">
                <img class="mobile-button__img" src="../img/icons/menu_button.svg" alt="menu button">
            </a>
        </div>
    </div>
</header>