<div class="getting-started__table getting-started__table--desktop">
    <div class="row header">
        <div class="cell">Test Type</div>
        <div class="cell">Biomarkers</div>
        <div class="cell">Suggested Retail Price</div>
        <div class="cell">GTIN Number</div>
    </div>
    <div class="row">
        <div class="cell">Advanced Diabetes</div>
        <div class="cell">A1c, Glucose, AST, ALT, GGT</div>
        <div class="cell">$69</div>
        <div class="cell">850053678035</div>
    </div>
    <div class="row">
        <div class="cell">Wellness Check</div>
        <div class="cell">Total Cholesterol, HDL, LDL, Tryglycerides, HbA1c, Glucose,eGFR, Urine
            Creatinine, Microalbumin, MaCR
        </div>
        <div class="cell">$84</div>
        <div class="cell">850053678042</div>
    </div>
    <div class="row">
        <div class="cell">Stress Hormone</div>
        <div class="cell">Cortisol</div>
        <div class="cell">$74</div>
        <div class="cell">850053678059</div>
    </div>
    <div class="row">
        <div class="cell">Thyroid Assessment</div>
        <div class="cell">TSH</div>
        <div class="cell">$74</div>
        <div class="cell">850053678066</div>
    </div>
    <div class="row">
        <div class="cell">STI</div>
        <div class="cell">Chlamydia, Gonorrhea, Hepatitis C, HIV, HSV-2, Syphilis</div>
        <div class="cell">$149</div>
        <div class="cell">850053678073</div>
    </div>
    <div class="row">
        <div class="cell">Testosterone</div>
        <div class="cell">Total Testosterone
            Free Testosterone
        </div>
        <div class="cell">$68</div>
        <div class="cell">850053678080</div>
    </div>
</div>

<div class="getting-started__table getting-started__table--mobile">
    <div class="column">
        <div class="row header">Test Type</div>
        <div class="row">Advanced Diabetes</div>
        <div class="row">Wellness Check</div>
        <div class="row">Stress Hormone</div>
        <div class="row">Thyroid Assessment</div>
        <div class="row">STI</div>
        <div class="row">Testosterone</div>
    </div>
    <div class="column">
        <div class="row header">Biomarkers</div>
        <div class="row">A1c, Glucose, AST, ALT, GGT</div>
        <div class="row">Total Cholesterol, HDL, LDL, Tryglycerides, HbA1c, Glucose,eGFR, Urine
            Creatinine, Microalbumin, MaCR
        </div>
        <div class="row">Cortisol</div>
        <div class="row">TSH</div>
        <div class="row">Chlamydia, Gonorrhea, Hepatitis C, HIV, HSV-2, Syphilis</div>
        <div class="row">Total Testosterone
            Free Testosterone
        </div>
    </div>
    <div class="column">
        <div class="row header">Suggested Retail Price</div>
        <div class="row">$69</div>
        <div class="row">$84</div>
        <div class="row">$74</div>
        <div class="row">$74</div>
        <div class="row">$149</div>
        <div class="row">$68</div>
    </div>
    <div class="column">
        <div class="row header">GTIN Number</div>
        <div class="row">850053678035</div>
        <div class="row">850053678042</div>
        <div class="row">850053678059</div>
        <div class="row">850053678066</div>
        <div class="row">850053678073</div>
        <div class="row">850053678080</div>
    </div>
</div>